{% extends "base.html.twig" %}

{% block title %}Ajouter un genre{% endblock %}


{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}

<div class="container">
    {{form_start(form)}}
    <div class="row">
        <div class="col-md-4">{{form_row(form.nom)}}</div>
        <div class="col-md-4">{{form_row(form.prenom)}}</div>
    
    </div>
    <div class="row">
        <div class="col-md-2">{{form_row(form.dateDeNaissance)}}</div>
        <div class="col-md-2">{{form_row(form.dateDeMort)}}</div>
        <div class="col-md-2">{{form_row(form.photo)}}</div>
      
    </div>
    
{{form_widget(form)}}
{{form_end(form)}}
 
</div>




{% endblock %}
